.comment {
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    background: #ccc;
    padding: 5px;
    border: solid 1px black; 
}
.postText {
    padding: 5px;
    padding-right: 20px; 
    border: solid 2px black;
    background: #CEE3F6;
}
textarea {
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: 50px; 
    resize: none; 
}
.leave-comment{
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.opened{
    display: block;
}
.edit-comment{
    margin-left: auto;
    margin-right: auto;
    display: none;
}