<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="commentsController">
            <div class="postText">
                <p>AngularJS — JavaScript-фреймворк с открытым исходным кодом. Предназначен для разработки одностраничных приложений. Его цель — расширение браузерных приложений на основе MVC шаблона, а также упрощение тестирования и разработки.
                <br>Фреймворк работает с HTML, содержащим дополнительные пользовательские атрибуты, которые описываются директивами, и связывает ввод или вывод области страницы с моделью, представляющей собой обычные переменные JavaScript. Значения этих переменных задаются вручную или извлекаются из статических или динамических JSON-данных.
            </div>
            <a href="" ng-click="open()">Add comment</a>
            <br>
          <div class="leave-comment">
                <input type="text" ng-model="name" style="width: 80%" placeholder="Enter your name or stay anonimous">
               <br>
                <textarea name="comment" ng-model="text" placeholder="Enter your comment"></textarea>
                <br>
                <button ng-click="addComment();open()">Add comment</button>
          </div>
            <div ng-repeat="comment in comments">
                <comment content="comment" index="$index"></comment>
            </div>
        </div>
        <script src="js/libs/angular.js"></script>
        <script src="js/controllers/mainController.js"></script>
        <script src="js/directives/comment.js"></script>
        <script src="js/controllers/dataServise.js"></script>
    </body>
</html>