<div class="comment"> 
    <table style="width: 100%">
        <tr>
            <td style="text-align: left"><b>{{content.name}}</b> leaved comment at {{content.time|date:"H:mm:ss dd.MM.yyyy"}}</td>
            <td style="text-align: right">
                <button ng-click="state.open = !state.open">Edit</button>
                <button ng-click="content.del(index)" >Remove</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{content.text}}
                <br>
                <a href="" >Reply</a>
            </td>
        </tr>
    </table>
    <div style="display: block" ng-style="{'display': state.open ? 'block !important' :  'none'}">
        <textarea class="edit-comment" ng-model="content.text"></textarea>
    </div>
</div>
