<div class="comment"> 
    <table style="width: 100%">
        <tr>
            <td style="text-align: left"><b>{{content.name}}</b> leaved comment at {{content.time|date:"H:mm:ss dd.MM.yyyy"}}</td>
            <td style="text-align: right">
                <button id='edit'>Edit</button>
                <button ng-click="content.del(index)" >Remove</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{content.text}}
                <br>
                <a href="" ng-click="$scope.open()">Reply</a>
            </td>
        </tr>
    </table>
    <div class="reply">
        <textarea class="edit-comment" ng-model="text"></textarea>
    </div>
</div>
